<div class="welcome-img-div auto-margin">
  <% if user_signed_in? %>
    <h2>Welcome to the Admin Panel, <%= @user.f_name %>!</h2>
    <div class="auto-margin">
      <%= image_tag image_path('jason.jpg'), alt: 'jason image' %>
    </div>
  <% else %>
  <br>
  <div class="main-img-div auto-margin">
    <%= image_tag image_path('jamie.jpg'), alt: 'jamie image' %>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
  <div class="center links logo">

    <%= link_to 'Sign Up', new_user_registration_path %><br>
    <br>
    <br>

    <% if @current_user == nil %>
    <%= link_to 'Log In', new_user_session_path %><br>
    <% else %>
    <%= link_to 'Log Out', destroy_user_session_path, method: :DELETE %>
    <% end %>
  </div>



  <% end %>
